<!DOCTYPE html>
<html>
<head>
    <title>ToDoList</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>

    <style>
        body {
            width: 500px;
            margin: 0 auto;
            padding: 30px;
            text-align: center;
        }
        .done {
            text-decoration: line-through;
            color: #888;
        }

        ul {
            margin-top: 30px;
        }

        ul li {
            list-style-type: none;
            text-align: left;
        }
    </style>
</head>


<body ng-app="toDoApp">

    <div ng-controller="toDoCtrl" ng-init="clearList()">

        <form name="frm" ng-submit="addToDo()">
            <input type="text" required name="newToDo" ng-model="newToDo">
            <button ng-disabled="frm.$invalid">Add</button>
        </form>

        <button ng-click="clearCompleted()">Clear completed</button>
        <button ng-click="clearList()">Clear list</button>

        <ul>
            <li ng-repeat="todo in todos" ng-hide="todo.title == null">
                <input type="checkbox" ng-model="todo.done">
                <span ng-class="{'done': todo.done}">{{todo.title}}</span>
            </li>
        </ul>

    </div>


    <script>
        angular
            .module('toDoApp', [])
            .controller('toDoCtrl', ['$scope', function($scope) {

                $scope.todos = [
                    {"title": "Lapte", "done": false}
                ];

                $scope.addToDo = function() {
                    $scope.todos.push({"title": $scope.newToDo, "done": false});
                    $scope.newToDo = "";
                };

                $scope.clearCompleted = function() {
                    $scope.todos = $scope.todos.filter(function (item) {
                        return !item.done;
                    })
                };

                $scope.clearList = function() {
                    $scope.todos = [{}];
                };


            }]);
    </script>


</body>
</html>