<!DOCTYPE html>
<html>
<head>
    <title>ToDoList</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="scripts/todoApp.js"></script>
</head>


<body ng-app="toDoApp">

    <h1>Shopping list</h1>

    <div ng-controller="toDoCtrl" ng-init="clearList()">

        <form name="frm" ng-submit="addToDo()">
            <input type="text" required name="newToDo" ng-model="newToDo">
            <button ng-disabled="frm.$invalid">Add</button>
        </form>

        <button ng-click="clearCompleted()">Clear completed</button>
        <button ng-click="clearList()">Clear list</button>
        <button ng-click="doneList()">Done list</button>

        <ul>
            <li ng-repeat="todo in todos" ng-hide="todo.title == null">
                <input type="checkbox" ng-model="todo.done">
                <span ng-class="{'done': todo.done}">{{todo.title}}</span>
            </li>
        </ul>


        <!-- Done list-->
        <h1>Done list:</h1>
        <ul>
            <li ng-repeat="doneToDo in doneToDos">
                <span>{{doneToDo.title}}</span>
            </li>
        </ul>

    </div>


</body>
</html>